<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Actualizar Producto</title>
</head>
<body>
  
  <h1>Actualizar Producto: {{ producto.nombre }}</h1> 
  
  <form method="POST" action="{% url 'productos_actualizar' id=producto.id %}"> 
    {% csrf_token %}
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" value="{{ producto.nombre }}" required>
    <br>
    
    <label for="descripcion">Descripción:</label>
    <input type="text" id="descripcion" name="descripcion" value="{{ producto.descripcion }}" required>
    <br>
    <label for="cantidad">Cantidad:</label>
    <input type="number" id="cantidad" name="cantidad" value="{{ producto.cantidad }}" required>
    <br>
    <input type="submit" value="Actualizar">
  </form>
  
</body>
</html>